.opacity{ opacity: .7; }
.bold{ font-weight: bold;}

.font24 {font-size: 24rpx;}
.font28 {font-size: 28rpx;}
.font30 {font-size: 30rpx;}
.font32 {font-size: 32rpx;}
.font36 {font-size: 36rpx;}
.font40 {font-size: 40rpx;}

.font-number{
    font-family: "WeChat Sans Std";
}